

/* RESET */


html, body, section, ul, li,
p, a, i, span {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  font-style: normal;
  text-decoration: none;
  background: transparent;
}

li {
  list-style: decimal inside;
}


.group:after {
  display: block;
  content: "";
  clear: both;
}


.main {
  margin: auto;
  padding: 20px 0 0 0;
  max-width: 1000px;
}


.start-screen {
  max-width: 1000px;
  height: 700px;
  background: #000000;
  font-family: sans-serif;
  border: 5px solid #aaaaaa;
}

.title {
  padding: 50px 0 0 0;
  font-size: 70px;
  color: lightblue;
  text-align: center;
}

.instructions {
  float: right;
  margin: auto;
  padding: 20px 0 20px 20px;
  width: 350px;
  font-size: 25px;
  color: #FFFFFF;
  text-align: left;
}

.instructions span {
  color: #0f8917;
}

.arrows {
  text-decoration: underline;
}

.start-button {
  margin: auto;
  border-radius: 12px;
  max-width: 150px;
  background: red;
}
.start-button:hover {
  background: #FF4C4C;
}
.start-button:active {
  background: #7f0000;
}
.start-button > a {
  cursor: pointer;
}

.start-button > a > p {
  padding: 15px;
  text-align: center;
  color: lightblue;
  font-size: 22px;
}

.button-message {
  margin: auto;
  text-align: center;
  padding: 10px 0 0 0;
  color: #FFFFFF;
}

.button-message span {
  color: lightblue;
  font-size: 14px;
}
.links {
  margin: auto;
  color: white;
}
.links h2 {
  margin-right: 40px;
  text-align: center;
}
.links a{
    padding: 10px;
  text-align: center;
}
.links-link{
  width: 300px;
  margin: 0 auto;
}
.links a:hover {

  background: grey;
}
.instructionimg{
  padding-top:20px;
  width: 700px;
  height: 350px;
  display: block;
  margin: 0 auto;
}
.instruction-img{
  padding-left: 20px;
  float: left;
  width: 300px;
  height: auto;
}
/* THE GAME SCREEN */


#id {
  border: 5px solid #aaaaaa;
}

.hide {
  display: none;
}

.show {
  display:block;
}



/* END SCREEN */


.end-screen {
  max-width: 1000px;
  height: 550px;
  background: #000000;
  font-family: sans-serif;
  border: 5px solid #aaaaaa;
}

.end-message {
  padding: 100px 0 0 0;
  font-size: 70px;
  color: lightblue;
  text-align: center;
}

.score {
  margin: auto;
  padding: 50px 0 70px 0;
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
}

.score > p > span {
  color: red;

}

.score > p > i {

}

.end-buttons {
  margin: auto;
  padding: 30px 0 0 0;
  width: 500px;
}

.end-buttons > a {
  float: left;
  margin: 0 55px;
  border-radius: 12px;
  padding: 10px 20px;
  width: 100px;
  color: lightblue;
  font-size: 20px;
  text-align: center;
  background: red;
}

.end-buttons > a:hover {
  cursor: pointer;
}

.end-screen-button-messages {
  margin: auto;
  width: 600px;
  padding: 10px 0 0 0;
  color: #FFFFFF;
  font-size: 13px;
}

.end-screen-button-messages > p {
  float: left;
  text-align: center;
}

.end-screen-button-messages > p > span {
  color: lightblue;
  font-size: 14px;
}

.play-again-message {
  margin: 0 0 0 67px;
}

.return-to-welcome-screen-message {
  margin: 0 0 0 60px;
}

.links {
  margin: auto;
  padding: 20px 0 0 50px;
  max-width: 500px;
}

.links > ul {
  margin: auto;
  max-width: 400px;
  color: #0E52A5;
}

.sub-link {
  float: left;
  padding: 10px 20px;
  text-align: center;
}

.sub-link > a > i {
  font-size: 50px;
}

#queue-canvas {
  margin: 0 auto;
  border: 5px solid #aaaaaa;
}
